{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "no-trailing-spaces": [
      "error"
    ],
    "no-console": [
      "warn"
    ],
    "quote-props": [
      "error",
      "as-needed",
      {
        "keywords": false,
        "unnecessary": true,
        "numbers": false
      }
    ],
    "no-restricted-imports": [
      "off"
    ],
    "no-sync": [
      "off"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "curly": [
      "error"
    ]
  },
  "globals": {
    "Class": true,
    "describe": true,
    "expect": true,
    "it": true,
    "beforeEach": true,
    "inject": true,
    "before": true
  }
}
