build
.DS_Store
tests/output/**/*.pdf
tests/output/**/*.txt
tests/output/**/*.json
tests/materials/fonts

node_modules
etc

*.log

#Visual Studio unwanted#
########################
*.user
*.ncb
*.suo
*.pch
*.dep
*.manifest
*.manifest.res
*.sdf
*.log
*.tlog
*.lastbuildstate
*.ipch
*.rc
*.opensdf
*.cache
*.sln
*.vcxproj*
