build
.DS_Store
tests/output

node_modules
etc

*.log

#Visual Studio unwanted#
########################
*.user
*.ncb
*.suo
*.pch
*.dep
*.manifest
*.manifest.res
*.sdf
*.log
*.tlog
*.lastbuildstate
*.ipch
*.rc
*.opensdf
*.cache
*.sln
*.vcxproj*
.vscode
